<div class="nav-bar">
    <a href="/">
        <h1>Blog Site</h1>
    </a>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signin">Signin</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Write</a></li>
        </ul>
    </nav>
</div>